*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}

.app-wrapper{
    width: 100%;
    height: 100vh;
}

.col{
    float: left;
}

img{
    width: 100%;
}

ul{
    list-style-type: none
}

/* FIXED DIV */
.fixed-div{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgba(9, 11, 18, 0.6);
    text-align: right;
}

/* Bottone upgrade */
.fixed-div .bottone-upgrade{
    line-height: 100px;
    margin-right: 10px;
}

.fixed-div .bottone-upgrade a{
    text-decoration: none;
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 35px;
    border-radius: 20px;
    text-transform: uppercase;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}

/* Main Nav*/
.main-nav{
    width: 250px;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 400px;
}

/* Logo */
.main-nav .logo{
    height: 100px;
}

.main-nav .logo img{
    height: 100%;
    padding-left: 20px;
    padding-right: 60px;
}

.main-nav .nav-actions, .main-nav .playlist, .main-nav .user{
    margin: 0 20px;
}

/* Nav Actions */
.main-nav .nav-actions{
    padding-bottom: 25px;
}

.main-nav .nav-actions li{
    padding: 8px 0;
    color: #797979;
    font-size: 14px;
    font-weight: 600;
}

.main-nav .nav-actions img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.main-nav .nav-actions ul .home{
    color: #e3e3e3;
    /* border-left: 1px solid #adff2e; */
}

/* Playlist */
.main-nav .playlist{
    flex-grow: 1;
    overflow: hidden;
}

.main-nav .playlist .ul-playlist{
    height: 80%;
    overflow-y: auto;
}

.main-nav .playlist h3{
    font-size: 15px;
    padding-bottom: 15px;
}

.main-nav .playlist .action-playlist{
    color: #797979;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
}

.main-nav .playlist .action-playlist i{
   background-color: #a3a3a3;
    color: #000000;
    font-size: 23px;
    border: 1px solid #a3a3a3;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.main-nav .playlist .action-playlist .text-playlist{
    padding-left: 15px;
    font-weight: 600;
}

.main-nav .playlist li{
    color: #797979;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
}

/* User */
.main-nav .user img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.main-nav .user .download-app{
    color: #797979;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #797979;
    padding-bottom: 10px;
}

.main-nav .user .download-app img{
    width: 13px;
    height: 13px;
}

.main-nav .user .profile{
    color: white;
    padding: 10px 0;
    font-weight: 600;
}

.main-nav .user .profile img{
    background-color: #797979;
    border-radius: 50%;
}

/* Main content */
.main-content{
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
    padding-top: 120px;
}

/* Nav Main Content */
.main-content .nav-main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content .nav-main-content span{
    color: #6b6e73;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
}

/* .main-content .nav-main-content .underline::after {
	display: block;
	content: '';
	width: 35px;
	height: 1px;
	background-color: #adff2e;
	margin: 4px 0 0;
} */

/* Recently Played */
.main-content .recently-played{
    padding-top: 40px;
    padding-left: 20px;
}

.main-content h2{
    color: white;
    font-weight: 700;
}

.main-content .recently-played-music{
    display: flex;
}

.main-content .recently-played-music .single-element{
    width: calc( (100% / 6 ) - 15px);
    margin: 30px 15px 0 0;
}

.main-content .single-element h4{
    color: white;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
}

.main-content .recently-played-music p{
    color: #717479;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

/* John Doe */
.john-doe{
    padding-top: 40px;
    padding-left: 20px;
}

.john-doe .create-john-doe{
    display: flex;
}

.john-doe .create-john-doe .single-element{
    margin: 30px 15px 0 0;
    width: calc( ( 100% / 6 ) - 15px);
}

.john-doe p{
    color: #717479;
    font-size: 13px;
    font-weight: 600;
    padding-top: 15px;
}

/* Artisti più popolari */
.popular-artist{
    padding: 40px 0 30px 20px;
}
.popular-artist .artist{
    display: flex;
}

.popular-artist .artist .single-element{
    margin: 30px 15px 0 0;
    width: calc((100% / 6) - 15px);
}

.popular-artist p{
    color: #717479;
    font-size: 13px;
    font-weight: 600;
    padding-top: 15px;
}

.popular-artist .artist img{
    border-radius: 50%;
}

/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: #282828;
}